@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.regions > .column {
    min-height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column.charlotte {
    background-image: url(/img/regions/charlotte.png);
}
.column.fayetteville {
    background-image: url(/img/regions/fayetteville.png);
}
.column.greenville {
    background-image: url(/img/regions/greenville.png);
}
.column.triad {
    background-image: url(/img/regions/triad.png);
}
.column.triangle {
    background-image: url(/img/regions/triangle.png);
}
.column.wilmington {
    background-image: url(/img/regions/wilmington.png);
}

.nc-hero {
    background-image: url(/img/banner.png);
    background-size: cover;
    background-position: center;
}