<section class="section" id="calendar">
    <div class="container">
        <h1 class="title">
            NC FGC Events Calendar
        </h1>
        <p>You can find events run all over the state by organizers within the NC FGC right here.</p>
        <br>
        <div class="is-hidden-touch" style="height: 60vh;">
            <iframe src="https://calendar.google.com/calendar/embed?&wkst=2&src=c_8377280845b936966f96c219408c9cb538cf01d1edb7eb67e96ee20572c1732e@group.calendar.google.com&ctz=America/New_York" color=%23039BE5" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="is-hidden-desktop" style="height: 90vh;">
            <iframe src="https://calendar.google.com/calendar/embed?height=NaN&wkst=2&ctz=America%2FNew_York&showPrint=0&mode=AGENDA&src=Y184Mzc3MjgwODQ1YjkzNjk2NmY5NmMyMTk0MDhjOWNiNTM4Y2YwMWQxZWRiN2ViNjdlOTZlZTIwNTcyYzE3MzJlQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23AD1457" style="border-width:0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
        </div>
        <br>
        <b>Want your events on this calendar? Contact @variant on Discord.</b>
    </div>
</section>