<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | NC FGC</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    <link rel="icon" type="image/x-icon" href="{{ '/img/nc-flag.svg' | relative_url }}">
    <script src="{{ '/assets/scripts.js' | relative_url }}"></script>
    <script src="https://kit.fontawesome.com/ec45b90910.js" crossorigin="anonymous"></script>
    <meta property="og:title" content="{{ page.title }} | NC FGC"/>
    <meta property="og:description" content="{{ site.description }}"/>
</head>