<section class="section has-background-black local-ifm is-medium" id="ifm">
    <div class="container is-fullhd">
      <div class="content">
        <div class="columns is-vcentered">
          <div class="column is-3">
            <figure class="image p-4 local-logo">
              <img src="/img/ifm/ifm_logo.png">
            </figure>
          </div>
          <div class="column">
            <h1 class="drop-shadow-black is-hidden-touch">Iron Fist Monthly - The NC TEKKEN Stronghold</h1>
            <h2 class="drop-shadow-black is-hidden-desktop has-text-centered mt-0">Iron Fist Monthly<br>The NC TEKKEN Stronghold</h2>
            <div class="block">
              <div class="buttons is-hidden-touch">
                <a href="" class="button is-warning is-radiusless has-text-weight-semibold">@IronFistMonthly</a>
                <a href="" class="button is-warning is-radiusless has-text-weight-semibold">IFM Discord</a>
              </div>
              <div class="buttons is-hidden-desktop">
                <a href="" class="button is-warning is-radiusless is-fullwidth has-text-weight-semibold">@IronFistMonthly</a>
                <a href="" class="button is-warning is-radiusless is-fullwidth has-text-weight-semibold">IFM Discord</a>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-vcentered is-multiline">
              <div class="column is-8 is-full-touch">
                <figure class="image is-16by9 drop-shadow-black">
                  <iframe
                    class="has-ratio"
                    width="640"
                    height="360"
                    src="https://www.youtube.com/embed/7BJPu4wVhbE"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </figure>
              </div>
              <div class="column is-full-touch">
                <div class="is-hidden-touch">
                  <div class="fixed-grid has-1-cols">
                    <div class="grid">
                      <div class="cell">
                        <figure class="image is-16by9 local-ifm-outline">
                          <img src="/img/ifm/ifm_pic_1.jpg">
                        </figure>
                      </div>
                      <div class="cell">
                        <figure class="image is-16by9 local-ifm-outline">
                          <img src="/img/ifm/ifm_pic_2.jpg">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="is-hidden-desktop">
                  <div class="fixed-grid has-2-cols">
                    <div class="grid">
                      <div class="cell">
                        <figure class="image is-16by9 local-ifm-outline">
                          <img src="/img/ifm/ifm_pic_1.jpg">
                        </figure>
                      </div>
                      <div class="cell">
                        <figure class="image is-16by9 local-ifm-outline">
                          <img src="/img/ifm/ifm_pic_2.jpg">
                        </figure>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
            <div class="block content has-text-left p-4 has-background-black has-text-white-ter has-text-weight-bold local-ifm-outline">
              <p>Monthly TEKKEN bracket in Greensboro! Run by @brandometry, updates posted on the @IronFistMonthly account. Join the IFM Discord for community.</p>
            </div>
            <div class="is-hidden-touch has-text-centered">
              <b>Apply the Sansukumi principle in every decision made in-game to achieve the best result. Get Ready For The Next Battle.</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>