<section class="section has-background-black local-tot is-medium" id="tot">
    <div class="container is-fullhd">
      <div class="content">
        <figure class="block image local-logo drop-shadow-white">
            <img src="/img/tot/tot_logo.png">
        </figure>
        <div class="block drop-shadow-black">
            <div class="buttons is-centered is-hidden-touch">
                <a href="https://twitter.com/oakcityesports" class="button is-primary is-radiusless has-text-weight-semibold">@OakCityEsports</a>
                <a href="https://discord.gg/w6M5EDYshF" class="button is-primary is-radiusless has-text-weight-semibold">Discord</a>
            </div>
            <div class="buttons is-hidden-desktop">
                <a href="https://twitter.com/oakcityesports" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">@OakCityEsports</a>
                <a href="https://discord.gg/w6M5EDYshF" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">Discord</a>
            </div>
        </div>
        <div class="block grid">
            <div class="cell">
            <figure class="image is-16by9">
                <img src="/img/tot/tot_pic_1.jpg">
            </figure>
            </div>
            <div class="cell">
            <figure class="image is-16by9">
                <img src="/img/tot/tot_pic_2.jpg">
            </figure>
            </div>
        </div>
        <div class="block content has-text-left p-4 has-background-black has-text-white-ter has-text-weight-bold" style="border: 3px solid white;">
            <p>A monthly tournament run in Durham! Featuring Granblue Fantasy Versus Rising, Guilty Gear Strive and rotational anime tournament titles like UNI and +R. Also featuring Street Fighter 6, Tekken 8 and more! Follow @OakCityEsports for updates.</p>
        </div>
        </div>
    </div>
  </section>