<section class="section has-background-black local-10ff" id="10ff">
    <div class="container">
      <div class="content drop-shadow-black">
        <div class="block has-text-centered-touch has-text-right-desktop">
          <h1>10 Frame Fridays - The Greensboro Weekly</h1>
        </div>
        <div class="columns">
          <div class="column is-3">
            <figure class="image drop-shadow-black">
              <img src="/img/10ff/10ff_logo.png">
            </figure>
            <div class="block">
              <div class="buttons is-centered">
                <a href="" class="button is-primary is-radiusless">@Brandometry</a>
                <a href="" class="button is-primary is-radiusless">IFM Discord</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="block grid">
              <div class="cell">
                <figure class="image is-16by9">
                  <img src="/img/10ff/10ff_pic_1.jpg">
                </figure>
              </div>
              <div class="cell">
                <figure class="image is-16by9">
                  <img src="/img/10ff/10ff_pic_2.jpg">
                </figure>
              </div>
            </div>
            <div class="block content has-text-left p-4 has-background-black has-text-white-ter has-text-weight-bold" style="border: 3px solid white;">
              <p>Weekly session in Greensboro for TEKKEN, Street Fighter, Mortal Kombat, and Retro special features. Follow @brandometry for weekly bracket links, and join the Iron Fist Monthly Discord for community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>