<section>
    <div class="container locals-grid px-2 pb-4 mb-4" id="locals">
        <div class="block content" id="charlotte">
            <h1>NC FGC Locals Directory</h1>
            <h2>Charlotte</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">Charlotte Showdown</h3>
                        <b>The Charlotte Local</b><br>
                        <span>📢 Updates on <a href="https://x.com/clt_showdown">@clt_showdown</a></span><br>
                        <span>📍 Student Union, UNCC</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Practice Mode</h3>
                        <b>The Training Session</b><br>
                        <span>📢 Updates on <a href="https://discord.gg/yUD3cu2">Last Level Discord</a></span><br>
                        <span>📍 Get Some Game, Charlotte</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="block content" id="fayetteville">
            <h2>Fayetteville</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">Hands Academy</h3>
                        <b>Fayetteville's Premiere FGC Local</b><br>
                        <span>📢 Updates on <a href="https://discord.com/invite/N7aFmdcwyq">Fay VG Discord</a></span><br>
                        <span>📍 Stop Button Bar, Hope Mills</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="block content" id="greenville">
            <h2>Greenville</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">Battle in South Town</h3>
                        <b>Greenville's Premiere FGC Local</b><br>
                        <span>📢 Updates on <a href="https://x.com/BISTGreenville">@BISTGreenville</a></span><br>
                        <span>📍 Greenville</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="block content" id="triad">
            <h2>Triad</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">10 Frame Fridays</h3>
                        <b>The NC Triad Weekly</b><br>
                        <span>📢 Updates on <a href="https://x.com/brandometry">@brandometry</a></span><br>
                        <span>📍 Wicked Reality Gaming, Greensboro</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Iron Fist Monthly</h3>
                        <b>The apex of NC TEKKEN</b><br>
                        <span>📢 Updates on <a href="https://x.com/ironfistmonthly">@ironfistmonthly</a></span><br>
                        <span>📍 Wicked Reality Gaming, Greensboro</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Karolina Kombat</h3>
                        <b>The premiere NetherRealm local</b><br>
                        <span>📢 Updates on <a href="https://x.com/xMisfit_Panda">@xMisfit_Panda</a></span><br>
                        <span>📍 Wicked Reality Gaming, Greensboro</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">WARRING TRIAD</h3>
                        <b>Anime+Arcade FGC Monthly</b><br>
                        <span>📢 Updates on <a href="https://x.com/SuperComboGG">@SuperComboGG</a></span><br>
                        <span>📍 The Comic Dimension, Greensboro</span><br>
                        <span>🔗 <a href="https://wt.supercombo.gg">Official Site</a></span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="block content" id="triangle">
            <h2>Triangle</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">Cookout Arcade</h3>
                        <b>The RDU Bi-Weekly</b><br>
                        <span>📢 Updates on <a href="https://discord.com/invite/w6M5EDYshF">NC FGC Discord</a></span><br>
                        <span>📍 Xepher Arcade, Durham</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">FGC Club @ NCSU</h3>
                        <b>Weekly & Monthly events at NCSU!</b><br>
                        <span>📢 Updates on <a href="https://discord.gg/tHAF6cj">FGC @ NCSU Discord</a></span><br>
                        <span>📍 NC State University, Raleigh</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Impossible Dust</h3>
                        <b>Anime FGC in RDU!</b><br>
                        <span>📢 Updates on <a href="https://x.com/impossibledust">@impossibledust</a></span><br>
                        <span>📍 Cary</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">RDU Tekken Monthly</h3>
                        <b>The strongest TEKKEN in RDU!</b><br>
                        <span>📢 Updates on <a href="https://x.com/rdutekken">@rdutekken</a></span><br>
                        <span>📍 Raleigh</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Retro Resurrection</h3>
                        <b>Quarterly Retro Tournament</b><br>
                        <span>📢 Updates on <a href="https://x.com/oakcityesports">@OakCityEsports</a></span><br>
                        <span>📍 Xepher Arcade, Durham</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">SQ</h3>
                        <b>Quarterly by the NC Anime FGC</b><br>
                        <span>📢 Updates on <a href="https://x.com/eventsscrappy">@EventsScrappy</a></span><br>
                        <span>📍 Xepher Arcade, Durham</span><br>
                    </div>
                    <div class="cell content p-3">
                        <h3 class="mb-2">Tournament of Thrones</h3>
                        <b>Largest, longest-running NC monthly</b><br>
                        <span>📢 Updates on <a href="https://x.com/oakcityesports">@OakCityEsports</a></span><br>
                        <span>📍 Xepher Arcade, Durham</span><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="block content" id="wilmington">
            <h2>Wilmington</h2>
            <hr>
            <div class="fixed-grid has-4-cols-widescreen has-3-cols-desktop has-2-cols-tablet has-1-cols-mobile">
                <div class="grid">
                    <div class="cell content p-3">
                        <h3 class="mb-2">Coastal Clash</h3>
                        <b>Wilmington's premiere FGC Local</b><br>
                        <span>📢 Updates on <a href="https://x.com/OakCityEsports">@OakCityEsports</a></span><br>
                        <span>📍 Cape Fear Collectibles</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>