<section class="section has-background-black local-10ff is-medium" id="10ff">
    <div class="container is-fullhd">
      <div class="content drop-shadow-black">
        <div class="block has-text-right-desktop is-hidden-touch">
          <h1>10 Frame Fridays - The Greensboro Weekly</h1>
        </div>
        <div class="columns">
          <div class="column is-3">
            <figure class="block image drop-shadow-black local-logo">
              <img src="/img/10ff/10ff_logo.png">
            </figure>
            <div class="block has-text-centered-touch is-hidden-desktop">
              <h2>The Greensboro Weekly</h2>
            </div>
            <div class="block">
              <div class="buttons is-centered is-hidden-touch">
                <a href="" class="button is-primary is-radiusless has-text-weight-semibold">@Brandometry</a>
                <a href="" class="button is-primary is-radiusless has-text-weight-semibold">IFM Discord</a>
              </div>
              <div class="buttons is-hidden-desktop">
                <a href="" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">@Brandometry</a>
                <a href="" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">IFM Discord</a>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="block grid">
              <div class="cell">
                <figure class="image is-16by9">
                  <img src="/img/10ff/10ff_pic_1.jpg">
                </figure>
              </div>
              <div class="cell">
                <figure class="image is-16by9">
                  <img src="/img/10ff/10ff_pic_2.jpg">
                </figure>
              </div>
            </div>
            <div class="block content has-text-left p-4 has-background-black has-text-white-ter has-text-weight-bold" style="border: 3px solid white;">
              <p>Weekly session in Greensboro for TEKKEN, Street Fighter, Mortal Kombat, and Retro special features. Follow @brandometry for weekly bracket links, and join the Iron Fist Monthly Discord for community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>