<section class="section has-background-black local-wt is-large" id="wt">
    <div class="container drop-shadow-black">
        <div class="columns is-vcentered is-multiline">
            <div class="column is-4">
                <figure class="block image p-4">
                    <img src="/img/wt/wt_logo.png">
                </figure>
            </div>
            <div class="column">
                <div class="content block">
                    <h1>WARRING TRIAD - Anime + Arcade Fusion</h1>
                    <p>Featuring anime titles including Guilty Gear Strive, Guilty Gear XX AC+R, Granblue Fantasy Versus, Melty Blood AACC, Under Night In-Birth and more every month in Greensboro.</p>
                    <p>Follow @SuperComboGG for updates and join our WARRING TRIAD discord!</p>
                    <div class="buttons">
                        <a href="" class="button is-primary is-radiusless">@SuperComboGG</a>
                        <a href="" class="button is-primary is-radiusless">WT Discord</a>
                        <a href="" class="button is-primary is-radiusless">Start.gg Hub</a>
                    </div>
                </div>
                <div class="columns block">
                    <div class="column">
                        <figure class="image is-16by9">
                            <iframe
                            class="has-ratio"
                            width="640"
                            height="360"
                            src="https://www.youtube.com/embed/1LUrv2fugrk"
                            frameborder="0"
                            allowfullscreen
                            ></iframe>
                        </figure>
                    </div>
                    <div class="column fixed-grid has-2-cols">
                        <div class="block grid">
                            <div class="cell">
                                <figure class="image is-16by9">
                                <img src="/img/wt/wt_pic_1.jpg">
                                </figure>
                            </div>
                            <div class="cell">
                                <figure class="image is-16by9">
                                    <img src="/img/wt/wt_pic_2.jpg">
                                </figure>
                            </div>
                            <div class="cell">
                                <figure class="image is-16by9">
                                    <img src="/img/wt/wt_pic_3.jpg">
                                </figure>
                            </div>
                            <div class="cell">
                                <figure class="image is-16by9">
                                    <img src="/img/wt/wt_pic_4.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </section>