<section class="section has-background-black local-wt is-medium" id="wt">
    <div class="container drop-shadow-black">
        <div class="columns is-multiline">
            <div class="column is-4 is-full-mobile">
                <figure class="block image local-logo">
                    <img src="/img/wt/wt_logo.png">
                </figure>
                <div class="content ">
                    <h2 class="drop-shadow-black is-hidden-desktop is-hidden-tablet has-text-centered mt-0">WARRING TRIAD<br>Anime + Arcade Fusion</h2>
                </div>
                <div class="block buttons is-hidden-touch is-centered mb-0">
                    <a href="https://twitter.com/supercombogg" class="button is-primary is-radiusless has-text-weight-semibold">@SuperComboGG</a>
                    <a href="https://wt.supercombo.gg/discord" class="button is-primary is-radiusless has-text-weight-semibold">WT Discord</a>
                    <a href="https://www.start.gg/hub/supercombo-gg" class="button is-primary is-radiusless has-text-weight-semibold">Start.gg Hub</a>
                    <a href="https://wt.supercombo.gg" class="button is-primary is-radiusless has-text-weight-semibold">Official Site</a>
                </div>
                <div class="block buttons is-hidden-desktop mb-0">
                    <a href="https://twitter.com/supercombogg" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">@SuperComboGG</a>
                    <a href="https://wt.supercombo.gg/discord" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">WT Discord</a>
                    <a href="https://www.start.gg/hub/supercombo-gg" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">Start.gg Hub</a>
                    <a href="https://wt.supercombo.gg" class="button is-primary is-fullwidth is-radiusless has-text-weight-semibold">Official Site</a>
                </div>
                <a href="https://supercombo.gg/shop" class="block image is-hidden-mobile mt-4 pt-4">
                    <img src="/img/wt/wt_shirts_callout.png">
                </a>
            </div>
            <div class="column is-full-mobile">
                <div class="content block has-text-white has-text-weight-semibold">
                    <h1 class="is-hidden-mobile">WARRING TRIAD - Anime + Arcade Fusion</h1>
                    <div class="is-hidden-mobile">
                        <p>Featuring anime titles including Guilty Gear Strive, Guilty Gear XX AC+R, Granblue Fantasy Versus, Melty Blood AACC, Under Night In-Birth and more every month in Greensboro.</p>
                        <p>Follow @SuperComboGG for updates and join our WARRING TRIAD discord!</p>
                    </div>
                </div>
                <div class="columns block is-multiline">
                    <div class="column is-half is-full-touch">
                        <figure class="image is-16by9">
                            <iframe
                            class="has-ratio"
                            width="640"
                            height="360"
                            src="https://www.youtube.com/embed/jMHQvuMPjh0"
                            frameborder="0"
                            allowfullscreen
                            ></iframe>
                        </figure>
                    </div>
                    <div class="column is-half is-hidden-touch">
                        <figure class="image is-16by9">
                            <img src="/img/wt/wt_pic_2.jpg">
                        </figure>
                    </div>
                    <div class="column is-half is-hidden-touch">
                        <figure class="image is-16by9">
                            <img src="/img/wt/wt_pic_4.jpg">
                        </figure>
                    </div>
                    <div class="column is-half is-hidden-touch">
                        <figure class="image is-16by9">
                            <iframe
                            class="has-ratio"
                            width="640"
                            height="360"
                            src="https://www.youtube.com/embed/1LUrv2fugrk"
                            frameborder="0"
                            allowfullscreen
                            ></iframe>
                        </figure>
                    </div>
                    <div class="column is-full-touch is-hidden-desktop">
                        <div class="block grid">
                          <div class="cell">
                            <figure class="image is-16by9">
                                <img src="/img/wt/wt_pic_2.jpg">
                            </figure>
                          </div>
                          <div class="cell">
                            <figure class="image is-16by9">
                                <img src="/img/wt/wt_pic_4.jpg">
                            </figure>
                          </div>
                        </div>
                    </div>
                    <div class="column content has-text-weight-semibold has-text-white is-hidden-tablet is-hidden-desktop p-3">
                        <p>Featuring anime titles including Guilty Gear Strive, Guilty Gear XX AC+R, Granblue Fantasy Versus, Melty Blood AACC, Under Night In-Birth and more every month in Greensboro.</p>
                        <p>Follow @SuperComboGG for updates and join our WARRING TRIAD discord!</p>
                    </div>
                    <a href="https://supercombo.gg/shop" class="column image is-hidden-tablet is-hidden-desktop">
                        <img src="/img/wt/wt_shirts_callout.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="is-hidden-touch has-text-centered">
            <b>[ ALL FIENDS WELCOME. ]</b>
        </div>
    </div>
  </section>