<section>
    <div class="block content has-text-centered">
        <h1 class="is-size-3">Find Your Locals - Choose Your Region!</h1>
    </div>
    <hr class="mb-4">
    <div class="columns regions has-text-centered mb-0">
        <a href="#charlotte" class="column charlotte has-text-white"><b class="is-size-3">Charlotte</b></a>
        <a href="#fayetteville" class="column fayetteville has-text-white"><b class="is-size-3">Fayetteville</b></a>
        <a href="#greenville" class="column greenville has-text-white"><b class="is-size-3">Greenville</b></a>
        <a href="#triad" class="column triad has-text-white"><b class="is-size-3">Triad</b></a>
        <a href="#triangle" class="column triangle has-text-white"><b class="is-size-3">Triangle</b></a>
        <a href="#wilmington" class="column wilmington has-text-white"><b class="is-size-3">Wilmington</b></a>
    </div>
    <hr class="mt-1">
</section>