<section class="has-background-black">
    <div class="block has-text-centered container has-text-white py-2">
        <h1 class="is-size-1 has-text-weight-bold">The NC Fighting Game Community</h1>
    </div>
    <div class="columns regions has-text-centered">
        <a href="/charlotte" class="column charlotte has-text-white"><b class="is-size-3">Charlotte</b></a>
        <a href="/fayetteville" class="column fayetteville has-text-white"><b class="is-size-3">Fayetteville</b></a>
        <a href="/greenville" class="column greenville has-text-white"><b class="is-size-3">Greenville</b></a>
        <a href="/triad" class="column triad has-text-white"><b class="is-size-3">Triad</b></a>
        <a href="/triangle" class="column triangle has-text-white"><b class="is-size-3">Triangle</b></a>
        <a href="/wilmington" class="column wilmington has-text-white"><b class="is-size-3">Wilmington</b></a>
    </div>
</section>