<section class="has-background-black">
    <div class="block has-text-centered container has-text-white py-2">
        <h1 class="is-size-1 has-text-weight-bold">The NC Fighting Game Community</h1>
    </div>
    <div class="columns regions has-text-centered has-text-white">
        <div class="column charlotte"><b class="is-size-3">Charlotte</b></div>
        <div class="column fayetteville"><b class="is-size-3">Fayetteville</b></div>
        <div class="column greenville"><b class="is-size-3">Greenville</b></div>
        <div class="column triad"><b class="is-size-3">Triad</b></div>
        <div class="column triangle"><b class="is-size-3">Triangle</b></div>
        <div class="column wilmington"><b class="is-size-3">Wilmington</b></div>
    </div>
</section>