<section class="section has-background-black discord-bg">
    <div class="container has-text-centered">
    <b class="is-size-4">Ready to fight? Join the NC FGC Discord to find your next challenger!</b><br>
    <a class="button is-medium mt-4" href="https://discord.com/invite/w6M5EDYshF">
        <span class="icon is-large">
            <i class="fab fa-discord"></i>
        </span>
        <b>NC FGC Discord</b>
    </a>
    <a class="button is-medium mt-4" href="/discords">
        <span class="icon is-large">
            <i class="fab fa-plus"></i>
        </span>
        <b>More Servers</b>
    </a>
    </div>
</section>