@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@media only screen and (max-width: 600px) {
    .regions > .column {
        min-height: 15vh;
        background-position: top;
    }
}
@media only screen and (min-width: 600px) {
    .regions > .column {
        min-height: 40vh;
        background-position: center;
    }
}

.regions > .column {
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);

    &.charlotte {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/charlotte.jpg);
        background-size: cover;
        background-position: center;
    }
    &.fayetteville {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/fayetteville.jpg);
        background-size: cover;
        background-position: center;
    }
    &.greenville {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/greenville.jpg);
        background-size: cover;
        background-position: center;
    }
    &.triad {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/triad.jpg);
        background-size: cover;
        background-position: center;
    }
    &.triangle {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/triangle.jpg);
        background-size: cover;
        background-position: center;
    }
    &.wilmington {
        background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(/img/regions/wilmington.jpg);
        background-size: cover;
        background-position: center;
    }
}

.nc-hero {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(135deg, rgba(26,133,16,1) 0%, rgba(44,48,138,1) 100%), url(/img/banner.png);
}

.locals-grid .cell {
    border-radius: 8px;
    border: 2px solid hsl(221,14%,14%);
    margin-bottom: 0px !important;
}

#calendar iframe {
    filter:invert(100%) hue-rotate(180deg);
    border-radius: 8px;
}

[id]::before {
  content: '';
  display: block;
  height:      75px;
  margin-top: -75px;
  visibility: hidden;
}