<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include header.html %}
  <body>
  {% include navbar.html %}
  <section class="hero is-medium is-link nc-hero">
    <div class="hero-body has-text-centered">
      <p class="title">Welcome to the North Carolina Fighting Game Community</p>
      <div class="buttons is-centered">
        <a href="#locals" class="button is-primary"><b>Find Your Locals</b></a>
        <a href="#calendar" class="button">Calendar</a>
        <a href="/discords" class="button">Discords</a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ page.title }}
      </h1>
      <div class="content">
        {{ page.content | markdownify }}
      </div>
    </div>
  </section>
  {% include regions.html %}
  {% include calendar.html %}
  {% include locals.html %}
  {% include socials_cta.html %}
  {% include footer.html %}
  </body>
</html>