<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  {% include header.html %}
  <body>
  {% include navbar.html %}
  <section class="hero is-medium is-link triad-hero">
    <div class="hero-body has-text-centered">
      <h1 class="title">{{ page.title }}</h1>
    </div>
  </section>
  <section class="section">
    <div class="container is-max-desktop">
      <div class="content">
        {{ page.content | markdownify }}
      </div>
    </div>
  </section>
  {% include local_10ff.html %}
  {% include local_ifm.html %}
  {% include local_wt.html %}
  {% include footer.html %}
  </body>
</html>